/* Voor een groen randje (geldig mobiel nummer) */
.border-green-500 {
    border-color: green;
  }
  
  /* Voor een rood randje (ongeldig mobiel nummer) */
  .border-red-500 {
    border-color: red;
  }
  
  th {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  th:hover {
    text-decoration: underline; /* Lichtgrijze kleur */
  }
  